<html>
	<head>
		<title>Avoid this area</title>
		<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
	</head>
	<body>
		<div class = 'wrapper'>
			<h1>Avoid this area</h1>
			<button><a href = '/'>MORE</a></button>
		</div>
	</body>
</html>